:root{
    --bg-01: #d1d8e0;
    --bg-02: #4b6584;
    --btn: #3867d6;
    --wht: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-01);
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}

header{
    text-align: center;
}

header h1{
    font-size: 3rem;
    font-weight: 300;
    color: var(--wht);
}

input{
    padding: 1rem;
    width: 50%;
    font-size: 1.2rem;
    border: 1px solid var(--bg-02);
    outline: none;
}

.btn{
    background-color: var(--btn);
    color: var(--wht);
    padding: 1rem;
    font-size: 1.2rem;
    margin-left: .5rem;
}

.lista{
    list-style: none;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

.lista li{
    font-size: 1.2rem;
    margin-bottom: .3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--wht);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    padding: 1rem;
}

.tasks{
    font-size: 1.2rem;
    color: var(--btn);
}

.tasks:visited{
    color: var(--btn);
}

.complete{
    color: var(--bg-01);
    text-decoration: line-through;
}